.container_links{
    opacity: 0;
}
.h3_link_works{
    color: rgba(204, 204, 204, 0.97);

    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    margin-bottom: 5.1rem;
}

.cel_link{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 315px;
    height: 53px;
    flex-shrink: 0;
    padding: 2.2rem;
    margin-bottom: 2rem;

    border-radius: 12px;
    border: 1px solid #4D4D4D;
    background: rgba(27, 27, 27, 0.62);

    cursor: pointer;
}
.cel_link:hover{
    border: 1px solid #099f8f;
    transform: translateX(10px);
}