@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./components/Cards/primery/style.css");
@import url("./components/Cards/staccks/card.stacks.init.css");
@import url("./components/LinksWorks/links.works.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

  
  min-height: 100vh;
  font-size: 1.6rem;

  height: 100vh auto;
  background: linear-gradient(180deg, #000 0%, #151515 100%);

  margin: 0;
  padding: 0;
}
.home_one{
  color: #D9D9D9;
}
.img_home_vector01{
  width: 88.6rem;
  margin: 0 0 12.2rem 10.8rem;
}
.primaries_infor_texts{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.4rem;
}
.h3_text_one{
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h1_text_one{
  color: rgba(116, 192, 184, 0.97);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p_text_one{
  width: 115.8rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.buttons_home{
  display: flex;
  justify-content: center;

  gap: 2.5rem;
  margin-top: 5.4rem;
  margin-bottom: 16.9rem;
}
.buttons_home button{
  width: 12rem;
  height: 4.8rem;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 10px;
}
.one{
  background: #D9D9D9;
  color: #1A1A1A;
}
.two{
  border: 1px solid #CCC;
  color: #D9D9D9;
  background: #4D4D4D;
}
.home_two{
  display: flex;
  flex-direction: column;

  margin-bottom: 3.2rem;

  gap: 3.2rem;
}
.home_two span {
  margin-left: 7rem;
}

/* Parte 3 do projeto */
.home_tree{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h3_text_tree{
  width: 90.1rem;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 6.8rem;
}
.img_home_icon04{
  margin-bottom: 7.3rem;
}
.cards_and_links{
  display: flex;
  gap: 29.4rem;
}