.typing_function {
  display: flex;
  align-items: center;
  width: 48.5rem;
  gap: 2px;
}
.typing_function h1:last-child {
  display: flex;
  align-items: center;
  animation: cursor 0.9s ease infinite;
}
@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.typing_text_config{
  color: rgba(116, 192, 184, 0.97);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  width: 47.8rem;
  white-space: nowrap;
  overflow: hidden;

  animation: typingText 12s steps(38) 1s normal infinite;
}
@keyframes typingText {
  from {
    width: 47.8rem;
  }
  25% {
    width: 0px;
  }
  50% {
    width: 0px;
  }
  75% {
    width: 47.8rem;
  }
  to {
    width: 47.8rem;
  }
}
